= @domino_server.errors.full_messages
- if @domino_server.errors.any?
  .row
  .col-lg-6
    .panel.panel-default
      .panel-heading
        Errors
      / /.panel-heading
      .panel-body
        .alert.alert-success
          Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          = succeed "." do
            %a.alert-link{:href => "#"} Alert Link
        .alert.alert-info
          Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          = succeed "." do
            %a.alert-link{:href => "#"} Alert Link
        .alert.alert-warning
          Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          = succeed "." do
            %a.alert-link{:href => "#"} Alert Link
        .alert.alert-danger
          = "#{pluralize(@domino_server.errors.count, "error")} prohibited this domino_server from being saved:"
          %ul
            - @domino_server.errors.full_messages.each do |msg|
              %li= msg
          = succeed "." do
            %a.alert-link{:href => "#"} Alert Link
      / .panel-body
    / /.panel
  / /.col-lg-6
.panel-body
  .row
    .col-lg-6
      = form_for @domino_server, role: "form" do |f|
        .form-group
          = f.label :name
          = f.text_field :name , class: "form-control"
          %p.help-block Mnemonical server name.
        .form-group
          = f.label :ip
          = f.text_field :ip, class: "form-control", :placeholder => "IP or Hostname of server"
          %p.help-block Ip or Hostname of domino server.
        .form-group
          = f.label :ldap_hostname
          = f.text_field "ldap_hostname", class: "form-control", :placeholder => "IP of LDAP server"
          %p.help-block Ip or Hostname of LDAP server.
        .form-group
          = f.label :ldap_port
          = f.text_field "ldap_port", class: "form-control", :placeholder => "port of  LDAP server"
          %p.help-block port of  LDAP server
        .form-group
          = f.label :ldap_treebase
          = f.text_field "ldap_treebase", class: "form-control", :placeholder => "treebase"
          %p.help-block treebase. example: ou=OrganizationUnit,dc=Domain,C=IT
        .form-group
          = f.label :ldap_filter
          = f.text_field "ldap_filter", class: "form-control", :placeholder => "filter"
          %p.help-block filter. example: (mail=*)
        .form-group
          = f.label :ldap_username
          = f.text_field "ldap_username", class: "form-control", :placeholder => "username"
          %p.help-block user name for binding
        .form-group
          = f.label :ldap_password
          = text_field_tag "domino_server[ldap_password]","",class: "form-control", :placeholder => "password" , type: "password"
          %p.help-block password for bindig unser
        %button.btn.btn-default{:type => "submit"} Submit Button