<%= form_for(@domino_server) do |f| %>
  <% if @domino_server.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@domino_server.errors.count, "error") %> prohibited this domino_server from being saved:</h2>

      <ul>
      <% @domino_server.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :ip %><br>
    <%= f.text_field :ip %>
  </div>
  <div class="field">
    <%= f.label :ldap_port %><br>
    <%= f.text_field :ldap_port %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
